name: Deploy static files to s3 bucket
on:
  push:
    branches:
      - main

  pull_request:
  branches:    

permissions:
  id-token: write
  permissions:
  contents: read

jobs:
  deploy_to_s3:
  runs: ubuntu-latest
    steps:
      - name: Checkout aws cli
        uses: unfor19/install-aws-cli-action@v1
        with:
    version: 2                        
    verbose: false                    
    arch:  x86
     - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: us-east-1

         _ name: Upload files to s3
          run:
          aws s3 cp . s3://camerhome.casa/ --recursive
          

